<ion-view view-title="Update" >
  <ion-content class="demo-card-wide mdl-card mdl-shadow--2dp center">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">
			{{update.title}}
	    </h2>
	    <p>{{update.date | date:'yyyy-MM-dd'}}</p>
	  </div>
	  <div class="mdl-card__supporting-text">
	    <img src="img/ionic.png" />
		<p>{{update.body}}</p>
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      Like {{}}
	    </a>
	  </div>
	  <div class="mdl-card__menu">
	    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
	      <i class="material-icons">share</i>
	    </button>
	  </div>
  </ion-content>
</ion-view>
