<ion-view view-title="Nci 360">
	<ion-content>
		<div class="button-bar button-full">
		  <a class="button button-positive" ui-sref="app.service" >Services</a>
		  <a class="button button-positive" ui-sref="app.appointment">Appointments</a>
		  <!-- <ion-nav-view name="service"></ion-nav-view>
		  <ion-nav-view name="appointment"></ion-nav-view> -->
		</div>
		<div class="padding">
			<img src="img/nci_360_logo.png" class="center" alt="">
			<p>	NCI360 is a service which allows you to interact with the National College of Ireland's administrative and support services. From these pages you will 		be able request information and services from Student Support , Careers & Placements and IT Support staff.

				You can also view and register for events organised by the College or specifically for a class group.
			</p>
		</div>
	</ion-content>	
</ion-view>