<ion-view view-title="Nci 360">
	<ion-tabs class="tabs-positive tabs-icon-only">
	  <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
	  	<ion-content class="padding paddingTop">
			<img src="img/nci_360_logo.png" class="center" alt="">
			<p>	NCI360 is a service which allows you to interact with the National College of Ireland's administrative and support services. From these pages you will 		be able request information and services from Student Support , Careers & Placements and IT Support staff.

				You can also view and register for events organised by the College or specifically for a class group.
			</p>
		</ion-content>	
	   	
	  </ion-tab>

	  <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
	  	<ion-content class="padding paddingTop">
		    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
		    </ion-refresher>
		    <div class="list card padding">
			  	<div class="item item-icon-left" ng-repeat="item in serviceList">
				    <i class="icon ion-stats-bars"></i>
				    {{item.title}}
				    <span class="item-note">
				      {{item.status}}
				    </span>
			  	</div>
			</div>
		</ion-content>
	  </ion-tab>

	  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
	    <ion-content class="padding paddingTop">
		    <div class="list card padding">
			  <div class="item item-icon-left" ng-repeat="item in appointmentList">
			    <i class="icon ion-stats-bars"></i>
			    {{item.title}}
			    <span class="item-note">
			      {{item.status}}
			    </span>
			  </div>
			</div>
		</ion-content>
	  </ion-tab>

	</ion-tabs>
	
</ion-view>